/* Some additional simple stylings to augment the jass.css */

.card-body {
  background-color: lightblue;
}

.comment {
  background-color: beige;
  padding-top: 5px;
}

.center {
  justify-content: center;
}

header {
  background-color: burlywood;
}